# Prettier v3 also respects .gitignore

# Not formatted
.*ignore
*.proto
*.cmd
.gitattributes
.nvmrc
.npmrc

# Generated or imported files
change/*.json
docs/build
CHANGELOG.*
LICENSE
SECURITY.md
*.snap
yarn.lock
**/.yarn
# this is a test fixture
yarn.js

# workspace-tools
# docs/
.rush/
**/common/scripts/
pnpm-lock.*
package-lock.json
*.api.md
