@import "@shikijs/twoslash/style-rich.css";

:root {
  /* code fonts are overly large */
  --ifm-code-font-size: 95%;
  /* Use this background color for the top navbar in light or dark mode */
  --navbar-background: rgb(28 88 106);
}

pre.shiki {
  /* for some reason this is getting extra height from nowhere at the bottom */
  overflow-y: hidden;
  border: 1px solid #aaa;
}
pre.shiki code {
  --twoslash-code-font: var(--ifm-font-family-monospace);
  --twoslash-code-font-size: var(--ifm-code-font-size);
}
pre.twoslash .twoslash-popup-container {
  transform: translateY(1.2rem);
}
[data-theme="dark"] pre.shiki {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
[data-theme="dark"] pre.shiki span {
  color: var(--shiki-dark) !important;
}

/* display as flex-column to remove gap from line-breaks */
/* .shiki code {
  display: flex;
  flex-direction: column;
  width: min-content;
  min-width: 100%;
} */

/* top navbar */
.navbar {
  background-color: var(--navbar-background);
}
/* items and link items in top navbar (can't set on .navbar because it will
color certain small-screen sidebar items too) */
.navbar__items,
.navbar__link--active {
  color: white;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: white;
}
/* add hover underline on links in top navbar (needs more specificity) */
.navbar__items .navbar__link:hover {
  text-decoration: underline;
}
/* top navbar when menu is open on small screens */
.navbar-sidebar__brand {
  background-color: var(--navbar-background);
  color: white;
}

html[data-theme="dark"] {
  --ifm-color-primary: rgb(70, 189, 226);
}

/* Make links in markdown text visible in light mode (add an underline because it was hard to get a
color with enough contrast against both the background and other text) */
html[data-theme="light"] .markdown {
  --ifm-link-color: #357e95;
  --ifm-link-decoration: underline;
}
